.env
# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtualenv
venv/
.venv/

# Pytest
.pytest_cache/

# Editor/IDE
.vscode/
.idea/

# SQLite
*.sqlite3

# Docker
*.env.*

# Alembic
alembic/versions/*.pyc
